.control-board {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.control-board__title {
    font-size: 3em;
    margin: 0.5em 0;
}

.control-board__button-group {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
}

.control-board__button {
    margin-right: 0.5em;
}